<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>李庆松的博客</title>
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        .home{
            padding-top: 30px;
            margin: 0 auto;
            display: block;
            width: 500px;
            height: auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="home">
        <img src="https://portrait.gitee.com/uploads/avatars/user/429/1288833_lqsong_1590810748.png!avatar200">
        <h1 th:text="'Hello LqsBlog'">Hello World!</h1>
        <p>您可以自定义Web模块实现数据模板输出，进行数据前台展示。</p>
    </div>
</body>
</html>