<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.liqingsong.database.mapper.ArticleCategoryMapper">

    <select id="selectCascaderVO" resultType="cc.liqingsong.database.vo.admin.CascaderVO">
    SELECT  a.id, a.name, ( CASE WHEN (SELECT count(b.id) FROM lqs_article_category b WHERE b.p_id=a.id)>0 THEN 'false' ELSE 'true' END) as leaf
	FROM lqs_article_category a
    WHERE a.p_id = #{pid}
    </select>

</mapper>