<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.liqingsong.database.mapper.PermissionMapper">


    <select id="selectPermissionByUserId" resultType="cc.liqingsong.database.entity.Permission">
    SELECT p.id,p.pid,p.name,p.permission,p.description
    FROM lqs_sys_permission p LEFT JOIN lqs_sys_resource_permission r ON p.id=r.permission_id
    WHERE r.resource_id IN (SELECT DISTINCT resource_id FROM lqs_sys_role_resource WHERE role_id
    IN (SELECT role_id FROM lqs_sys_user_role
    WHERE user_id=#{userId}))
    </select>

    <select id="selectCascaderVO" resultType="cc.liqingsong.database.vo.admin.CascaderVO">
    SELECT  a.id, a.name, ( CASE WHEN (SELECT count(b.id) FROM lqs_sys_permission b WHERE b.pid=a.id)>0 THEN 'false' ELSE 'true' END) as leaf
	FROM lqs_sys_permission a
    WHERE a.pid = #{pid}
    </select>

    <select id="selectIdNamePidVO" resultType="cc.liqingsong.database.vo.admin.IdNamePidVO">
    SELECT  id, name, pid
	FROM lqs_sys_permission
    </select>


</mapper>
