<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.liqingsong.database.mapper.SearchMapper">

    <select id="selectSearchRecommendVO" resultType="cc.liqingsong.database.vo.pc.SearchRecommendVO">
        SELECT  sid, id, type, title, thumb
        FROM lqs_search
        WHERE thumb != '' AND NOT ISNULL(thumb)
        ORDER BY addtime DESC
        LIMIT #{num}
    </select>


</mapper>